$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;
$hamburger-layer-width: 22px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 4px !default;
$hamburger-layer-color: #ffffff !default;
$hamburger-layer-border-radius: 5px !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-hover-transition-duration: 0.25s !default;
$hamburger-hover-transition-timing-function: linear !default;
$hamburger-hover-filter: red !default;
