/// @name Color Palette
/// @author AMS Product
/// @group Basics

// Primary
$primary-1: #2c3e50;
$primary-2: #34495e;
$primary-3: #23d3db;
$primary-4: #a6eef1;
$primary-5: #0b1f3a;

// Secondary
$secondary-1: #ea9b34;
$secondary-2: #26abe0;
$secondary-3: #7571c9;
$secondary-4: #d54e88;
$secondary-5: #008c71;

// Neutral
$neutral-1: #ecf0f1;
$neutral-2: #bdc3c7;
$neutral-3: #3c3c3c;
